* {
  box-sizing: border-box;
  padding: 0;
  color:#404040;
}

/*Knapp för Logga in/Registrera/Logga ut*/
button {
  width: 176px;
  background: #FF9D66;
  border-radius: 40px;
  text-decoration: none;
  color: white;
  padding: 5px;
  cursor: pointer;
  border-color: transparent;
  box-shadow: none;
  font-family: Poppins;
  letter-spacing: 0.09em;
  text-decoration: none;
  color: white;
  /*filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));*/
}

#test {
  /* position: absolute; */
  width: 28px;
  height: 24px;
  left: 3009px;
  top: 548px;
  background: transparent;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: #FF9D66;
}

.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  display: flex;
}
/*Inloggning/Registrerg sida*/
.login .loginContainer {
  padding-top: 160px;
  margin-top: 20%;
  padding-left: 40px;
  font-style: normal;
  font-weight: 300;
  margin: 0 auto;
  width: 100%;
  max-width: 375px;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('./navbar/loginBackground.svg'), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(20, 20, 20, 0.505208) 50.52%, rgba(26, 26, 26, 0.635417) 63.54%, rgba(41, 41, 41, 0.838542) 83.85%, #404040 100%);
  
}

.login .loginContainer label {
  color: white;
  display: block;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;

}

.login .loginContainer input {
  /* position: absolute; */
  width: 298px;
  height: 44px;
  /* left: 39px; */
  /* top: 400px; */
  background: #FFFFFF;
  border-radius: 11px;
  border: none;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  padding-left: 16px;

}

.login .loginContainer .btnContainer {
  width: 100%;
  text-align: center;
  padding-bottom: 115px;
  margin-bottom: 50px;
  padding-right: 50px;
}

.login .loginContainer .btnContainer p {
  /* width: 155px; */
  height: 48px;
  /* left: 110px; */
  /* top: 488px; */
  font-family: Poppins;
  /* font-style: normal; */
  /* font-weight: 300; */
  font-size: 14px;
  /* line-height: 24px; */
  /* display: flex; */
  /* align-items: center; */
  /* text-align: center; */
  color: #FFFFFF;
  /* flex-direction: column; */
  /* flex-wrap: unset; */
  /* justify-content: end; */
  /* inline-size: auto; */
  margin: 70px;
}

.login .loginContainer .btnContainer p span {
  color: #FF9D66;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: red;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}

/* Navbar */
.nav1, li {
  display: inline;
  
  }
/* Position av ikonerna i navbars */
#navbaricons {
  margin-top: 15px;
}

/* Tom kalender sida*/
.emptyCalendar{
  display: flex;
  max-width: 298px;
  margin: 0 auto;
  font-family: Poppins;
  justify-content: center;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 30px;
}
h1 {
  font-weight: 500!important;
  font-size: 18px!important;
  font-family: Poppins;
  margin-bottom: 30px;
}
h2 {
  font-size: 15px;
  font-weight: 400!important;
}
#callogo {
  position: center;
  justify-content: 0 auto;
  margin-left: 135px;
}

.webcontext {
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

/* Skapa aktivitet knappa*/
#addButton {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  min-width: 203px;
  max-width: 203px;
  background: #FF9D66;
  border-radius: 40px;
  font-family: Poppins;
  text-decoration: none;
  color: white;
  padding: 5px;
  box-shadow: none;
  width: 334px;
}

/* Formulär att skapa ny event*/
.addForm {
  background-color: #FFF0E2;
  box-shadow: 1px 4px 4px 4px rgba(94, 94, 94, 0.25);
  border-radius: 15px;
  color: #404040;
  width: 344px;
  height: 500px;
  max-width: 344px;
  position: static;
  margin-bottom: 100px;
  text-align: left;
  padding: 5px;
  margin: 0 auto;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
} 
/* Skapa knapp i addForm*/
.addInForm {
  margin-left: 43%;
  background: #FF9D66;
  border-radius: 40px;
  font-family: Poppins;
  text-decoration: none;
  color: white;
  box-shadow: none;
}
.formtext, .formtextarea {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #404040;
  background: #FFFFFF;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  width: 298px;
  margin-left: 20px;
  margin-top: 5px;
  border-color: transparent;
  border: none;
}
.formtextarea {
  height: 144px;
}
.formtext, .formtextarea {
  font-weight: 300!important;
  font-size: 12px!important;
  padding-left: 20px;
}
::placeholder {
  font-family: Poppins;
  color: #4040405C;
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  padding-left: 60%;
}
.deleteButton {
  display: flex;
  justify-content: center;
  margin-left: 16px;
  margin-top: 20px;
}

/*Event kort */
.eventcard {
  background-color: #FFFFFF;
  box-shadow: 1px 4px 4px 4px rgba(94, 94, 94, 0.25);
  border-radius: 15px;
  color: #404040;
  width: 344px;
  height: 250px;
  max-width: 400px;
  position: static;
  margin-bottom: 100px;
  text-align: left;
  padding: 5px;
  display: flexbox;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
}
/* Text i eventkortet */
h1, h2 {
font-family: Poppins!important;
font-size: 15px;
margin-left: 16px;
}
h3 {
font-family: Poppins;
font-size: 12px;
margin-left: 16px;
}

/* Profil*/
.profilecard {
  display: flex;
  justify-content: center;
  max-width: 298px;
  margin: 0 auto;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 60px;
  font-family: Poppins;
}
.img {
  margin-bottom: -20px;
  margin-left: 93px;
}
.bio {
  font-size: 14px;
  font-weight: 300!important;
}
.name, .buddies {
  font-family: Poppins!important;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  text-align: center!important;
}
.buddies {
  text-align: left!important;
}
.nameforbuddies {
  text-align: left;
}
.buddyname {
  position: absolute;
  padding: 0 1em;
  line-height: 60px;
}


/* Mina vänner*/
.myfriends {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: Poppins;

}
.title {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  color: #404040;
}
figure {
  text-align: center;
  margin: 0.5em;
}
.othercontacticons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 33%;
  width: 47px;
}
.addfriend {
  background: none;
}
 

