* {
  box-sizing: border-box;
  padding: 0;
  color:#404040;
}

/*Knapp för Logga in/Registrera/Logga ut*/
button {
  background: #FF9D66;
  border-radius: 40px;
  text-decoration: none;
  color: white;
  padding: 5px;
  cursor: pointer;
  border-color: transparent;
  box-shadow: none;
  font-family: Poppins;
  letter-spacing: 0.09em;
  text-decoration: none;
  color: white;
}

.loginbuttons {
  display: flex;
  color: #FF9D66;
  border: none;
  background: none;
  font-family: Poppins!important;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
}

.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background: #e9e9e9;
  display: flex;
}
/*Inloggning/Registrerg sida*/
.login .loginContainer {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 375px;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('./navbar/loginBackground.svg'), linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(20, 20, 20, 0.505208) 50.52%, rgba(26, 26, 26, 0.635417) 63.54%, rgba(41, 41, 41, 0.838542) 83.85%, #404040 100%);
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .loginContainer label {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #fff;
}

.login .loginContainer .btnContainer p span {
  color: #FF9D66;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: red;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}

/* Navbar */
.nav1, li {
  display: inline;
  
  }
/* Position av ikonerna i navbars */
#navbaricons {
  margin-top: 15px;
}

/* Tom kalender sida*/
.emptyCalendar{
  display: flex;
  max-width: 298px;
  margin: 0 auto;
  font-family: Poppins;
  justify-content: center;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 30px;
}
h1 {
  font-weight: 500!important;
  font-size: 18px!important;
  font-family: Poppins;
  margin-bottom: 30px;
}
h2 {
  font-size: 15px;
  font-weight: 400!important;
}
#callogo {
  position: center;
  justify-content: 0 auto;
  margin-left: 135px;
}

.webcontext {
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

/* Skapa aktivitet knappa*/
#addButton {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  min-width: 203px;
  max-width: 203px;
  background: #FF9D66;
  border-radius: 40px;
  font-family: Poppins;
  text-decoration: none;
  color: white;
  padding: 5px;
  box-shadow: none;
  
}

/* Formulär att skapa ny event*/
.addForm {
  background-color: #FFF0E2;
  box-shadow: 1px 4px 4px 4px rgba(94, 94, 94, 0.25);
  border-radius: 15px;
  color: #404040;
  width: 344px;
  height: 500px;
  max-width: 344px;
  position: static;
  margin-bottom: 100px;
  text-align: left;
  padding: 5px;
  margin: 0 auto;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
} 
/* Skapa knapp i addForm*/
.addInForm {
  margin-left: 200px;
  background: #FF9D66;
  border-radius: 40px;
  font-family: Poppins;
  text-decoration: none;
  color: white;
  box-shadow: none;
}
.formtext, .formtextarea {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #404040;
  background: #FFFFFF;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  width: 298px;
  margin-left: 20px;
  margin-top: 5px;
  border-color: transparent;
  border: none;
}
.formtextarea {
  height: 144px;
}
.formtext, .formtextarea {
  font-weight: 300!important;
  font-size: 12px!important;
  padding-left: 20px;
}
::placeholder {
  font-family: Poppins;
  color: #4040405C;
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  padding-left: 60%;
}
.deleteButton {
  display: flex;
  justify-content: center;
  margin-left: 16px;
  margin-top: 20px;
}

/*Event kort */
.eventcard {
  background-color: #FFFFFF;
  box-shadow: 1px 4px 4px 4px rgba(94, 94, 94, 0.25);
  border-radius: 15px;
  color: #404040;
  width: 344px;
  height: 250px;
  max-width: 400px;
  position: static;
  margin-bottom: 100px;
  text-align: left;
  padding: 5px;
  display: flexbox;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 100px;
}
/* Text i eventkortet */
h1, h2 {
font-family: Poppins!important;
font-size: 15px;
margin-left: 16px;
}
h3 {
font-family: Poppins;
font-size: 12px;
margin-left: 16px;
}

/* Profil*/
.profilecard {
  display: flex;
  justify-content: center;
  max-width: 298px;
  margin: 0 auto;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: Poppins;
}

.img {
  margin-bottom: -20px;
  margin-left: 93px;
}

.bio {
  font-size: 14px;
  font-weight: 300!important;
}

.name, .buddies {
  font-family: Poppins!important;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  text-align: center!important;
}
.buddies {
  text-align: left!important;
}

.nameforbuddies {
  padding-left: 20px;
  line-height: 27px;
}

/* Vänner vy */
.myfriends {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  color: #404040;
}

